<header>
  <mat-toolbar class="header">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Kartvizit App</span>
    <span class="example-spacer"></span>
    <ul class="headerMenu">
      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Anasayfa</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">Hakkında</a>
      </li>
      <li>
        <a routerLink="/cards" routerLinkActive="active">Kartvizitler</a>
      </li>
    </ul>
  </mat-toolbar>

</header>
