<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr *ngFor="let item of products">
                <td> {{ item.id }} </td>
                <td class="w-75"> {{ item.name }} </td>
                <td>
                    <a class="btn btn-info btn-sm my-2" [routerLink]="['/products', item.id]">Details</a>
                    <a class="btn btn-info btn-sm ms-2" [routerLink]="['/products', item.id, 'edit']">Edit</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a [queryParams]="{page: 1, order: 'bestselling'}" routerLink="/products" class="btn btn-primary btn-sm">En çok
            satanlar.</a>
        <a [queryParams]="{page: 1, order: 'newest'}" routerLink="/products" class="ms-2 btn btn-primary btn-sm">En
            yeniler.</a>
        <button class="btn btn-primary btn-sm ms-2" (click)="loadProducts()">Refresh Page</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>